body {
    background: url('{% static "global_css/images/marble-background.jpg" %}') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Times New Roman', serif;
    color: #FFD700; /* Goldene Schriftfarbe */
}

h1, p, li {
    text-shadow: 1px 1px 2px black; /* Schwarzer Rand um die goldene Schrift */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 10px 0;
}
