<!DOCTYPE html>
<html>
<head>
    <title>{{ recipe.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global_css/main.css' %}">
</head>
<body>
    <!-- Navigationsleiste -->
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'recipe_list' %}">Rezeptliste</a>
    </nav>

    <h1>{{ recipe.title }}</h1>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="width:300px;">
    {% endif %}
    <p><strong>Zutaten:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Vorbereitung:</strong> {{ recipe.preparation }}</p>
    <p><strong>Historischer Kontext:</strong> {{ recipe.historical_context }}</p>
    <p><strong>Anleitung:</strong> {{ recipe.instructions }}</p>
    <p><strong>Bewertung:</strong> {{ recipe.rating }}</p>
    <a href="{% url 'edit_recipe' recipe.id %}">Rezept bearbeiten</a>
    <a href="{% url 'delete_recipe' recipe.id %}">Rezept löschen</a>
    <a href="{% url 'recipe_list' %}">Zurück zur Liste</a>
</body>
</html>
